<div class="preview">
  <div class="close" ng-click="closePreview()">
    &times;
  </div>
  <div class="owner">
    <img ng-src="{{imagePreview.profilePic}}" />
    <span class="btn" ng-bind="imagePreview.username"></span>
  </div>
  <div class="owner-reel">
    <img ng-src="{{ENDPOINT}}/64_{{img.key}}" ng-style="{width: getIconWidth()+'px' }" ng-repeat="img in imagePreview.images | limitTo:10" />
  </div>
  <div class="image">
    <img ng-src="{{ENDPOINT}}/720_{{imagePreview.key}}" width="100%" />
  </div>
  <div class="actions">
    <div class="bumps">
      <small ng-bind="imagePreview.bumps | commas"></small> <small class="subdue">bump{{imagePreview.bumps == 1 ? '' : 's'}}</small>
    </div>
    <div class="bump btn" ng-click="!imagePreview.bumped && bump(imagePreview)" ng-class="{checked: imagePreview.bumped}">
      <small>Bump</small><small ng-show="imagePreview.bumped">ed</small>
    </div>
    <div class="clear"></div>
  </div>
  <div class="caption">
    <span ng-bind="imagePreview.caption"></span>
  </div>
  <div class="report btn warn" ng-click="report(imagePreview)">
    <i class="fa fa-exclamation-circle"></i> <small>Report image</small>
  </div>
</div>