<div class="preview" animate>
  <div class="close" ng-click="closePreview()">
    &times;
  </div>
  <!--TODO <div class="options" ng-show="profile.$mine" ng-click="editProfile(profile)">
    <i class="fa fa-ellipsis-v"></i>
  </div> -->
  <div class="profile-pic">
    <img width="100" ng-src="http://graph.facebook.com/{{profile.fb_id}}/picture?width=240&height=240" />
    <div class="profile-info">
      <p class="big" ng-bind="profile.username"></p>
      <p><span ng-bind="profile.bumps | commas"></span> bump<span ng-if="profile.bumps != 1">s</span></p>
      <p>
        <span class="trophy"><i class="fa fa-trophy gold"></i> {{profile.gold || 0}}</span>
        <span class="trophy"><i class="fa fa-trophy silver"></i> {{profile.silver || 0}}</span>
        <span class="trophy"><i class="fa fa-trophy bronze"></i> {{profile.bronze || 0}}</span>
        <span class="btn pushed" ng-click="$root.openHelp('trophy')">
          <i class="fa fa-question"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="profile-main" pull-refresh="profile.refresh()" list="profile.images" template="'partials/thumbnail.html'" distance="40" config="profile.list" fixed-height="-40" infinite="true"></div>
  <div class="tabs profile-tabs">
    <div class="tab toggle-order" ng-click="toggleOrder(profile.list)">
      <i class="fa" ng-class="{'fa-clock-o': profile.list.order == 'bumps', 'fa-trophy': profile.list.order == 'added'}"></i>
    </div>
    <div class="tab toggle-view" ng-click="toggleView(profile.list)">
      <i class="fa" ng-class="{'fa-th': profile.list.grid == 1, 'fa-th-large': profile.list.grid == 3, 'fa-square': profile.list.grid == 2}"></i>
    </div>
  </div>
</div>