<div class="thumbnail" ng-class="'w' + config.grid" ng-repeat="image in list | orderBy:config.order:true track by image.key" ng-style="{ top: (config.grid | gridTop:$index), left: (config.grid | gridLeft:$index), 'z-index': 1 / ($index + 1) }">
  <img ng-src="{{$root.ENDPOINT}}/{{$root.getImageSize[config.grid]}}_{{image.key}}" width="100%" ng-click="$root.openPreview(image)" />
  <div class="grid-details" ng-show="config.grid == 1">
    <div class="btn left" ng-bind="image.username" ng-click="$root.openProfile(image)"></div>
    <div class="right">
      <span ng-bind="image.bumps | commas"></span> <small class="subdue">bump{{image.bumps == 1 ? '' : 's'}}</small>
    </div>
    <div class="clear"></div>
  </div>
</div>