<div class="preview" animate>
  <div class="close" ng-click="closePreview()">
    &times;
  </div>
  <div class="profile-pic">
    <img width="100" ng-src="http://graph.facebook.com/{{user.fb_id}}/picture?width=240&height=240" />
    <div class="profile-info">
      <p class="big">{{user.username}}</p>
      <p>{{502034 | commas}} bumps</p>
      <p>
        <span class="trophy"><i class="fa fa-trophy gold"></i> 2</span>
        <span class="trophy"><i class="fa fa-trophy silver"></i> 5</span>
        <span class="trophy"><i class="fa fa-trophy bronze"></i> 12</p></span>
    </div>
  </div>
  <div>
    
  </div>
</div>