

html, body {
  padding: 0;
  margin: 0;
  font-size: 30px;
  height: 100%;
}

.login-container {
  text-align: center;
  padding-top: 0px;
  font-size: 500px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}
.login {
  position: fixed;
  bottom: 20px;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #FFF !important;
}

.headliner {
  height: 22px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(48, 110, 110, 1);
  z-index: 1;
}

.logging {
  background: #555;
}

.alert {
  position: fixed;
  width: 100%;
  bottom: 70px;
  text-align: center;
  font-size: 15px;
  z-index: 50;
  padding: 15px 0;
  background: rgba(255,255,255,0.5);
}

.header, .footer {
  width: 100%;
  position: fixed;
  left: 0;
  text-align: center;
  z-index: 5;
}

.header {
  top: 0;
  padding-top: 22px;
  background: rgba(255,255,255,0.5);
}
.footer {
  background: rgba(48, 110, 110, 1);
}
.footer {
  bottom: 0;
  color: #FFF;
}
  .footer .toggle-view, .footer .toggle-order {
    position: absolute;
    top: 17px;
    font-size: 18px;
    width: 30px;
    text-align: center;
  }
  .footer .toggle-order {
    left: 28%;
  }
  .footer .toggle-view {
    right: 28%;
  }

.footer .title {
  font-size: .5em;
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  color: #0A372D;
}

.header a, .footer a {
  background: #00BEA8;
  padding: 8px 12px;
  width: 38px;
  height: 40px;
  color: rgba(255, 255, 255, 0.85);
  display: block;
  z-index: 5;
}
.profile {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.camera {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.categories {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.notifications {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.full {
  min-height: 100%;
  position: relative;
}

.main {
  max-height: calc(100% - 56px);
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  position: absolute;
}
.main .genericon {
  top: 38px;
}
.main .ptr-content {
  margin-top: 78px;
}
.page-heading {
  font-weight: normal;
  position: fixed;
  width: 100%;
  top: 15px;
  color: #000;
  text-align: center;
  font-size: .6em;
}

.profile-main .genericon {
  top: 172px;
  z-index: 1;
}

.notification-main .genericon {
  top: 105px;
  z-index: 1;
}

.thumbnail {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  margin: 0;
  position: relative;
  transition: all .25s ease;
}
.w3 {
  width: 33.3333%;
}
.w2 {
  width: 50%;
}
.w1 {
  width: 100%;
}
.grid-details {
  font-size: 16px;
  padding: 6px 10px;
  text-transform: none;
  background: rgba(63, 63, 63, 0.7);
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  position: absolute;
  bottom: 0;
}
.grid-details-small {
  padding: 2px 5px;
  border-top-left-radius: 3px;
  font-size: 12px;
  width: auto;
  right: 0;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
}

.no-results {
  font-size: 14px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.preview-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.preview {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.9);
  color: #FFF;
  text-transform: none;
}
  .preview .close, .preview .options {
    position: absolute;
    top: 12px;
    width: 18px;
    text-align: center;
    right: 0;
    font-size: 26px;
    padding: 10px 16px 14px 20px;
    z-index: 10;
  }
  .preview .options {
    top: 85px;
    font-size: 22px;
  }
  .preview .scroller {
    padding: 0 20px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
    .preview .scroller .wrapper {
      padding: 50px 0;
    }
    .preview .scroller .btn {
      text-transform: uppercase;
      font-size: 18px;
      padding: 8px;
    }
  .preview .title {
    margin-top: 78px;
    font-size: 38px;
    text-align: center;
  }
  .preview .title-2 {
    margin-top: 24px;
    font-size: 26px;
    text-align: center;
  }
  .preview .sub-title {
    margin-top: 48px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
  .preview .tabs {
    position: relative;
    padding: 12px 9%;
    font-size: 20px;
  }
  .preview .tabs .tab {
    display: inline-block;
    width: 48%;
    text-align: center;
  }
  .preview .tabs .tab.selected {
    color: #030303;
    background: #49E2B4;
  }
  .preview .notif-wrapper {
    width: 100%;
    margin-left: 0;
    -webkit-transition:all ease-out 0.2s;
    transition:all ease-out 0.2s;
  }
  .preview .notif-wrapper.slide-left {
    margin-left: -100%;
  }
  .preview .notification {
    margin: 1px;
    height: 64px;
    position: relative;
    overflow: hidden;
  }
  .preview .notification .close {
    color: #AAA;
    top: 3px;
    font-size: 20px;
  }
  .preview .notification-tabs {
    margin-top: 54px;
    padding: 12px 0;
  }
  .preview .notification-info {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 16px;
  }
  .preview .info {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
  }
  .preview .profile-pic {
    margin: 30px 20px 20px 30px;
    height: 100px;
  }
    .preview .profile-pic img {
      border-radius: 500px;
    }
  .preview .profile-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 10px;
  }
    .preview .profile-info .trophy {
      margin-right: 8px;
    }

  .preview .profile-tabs {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
  }
  .preview .owner {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .preview .owner img {
    border-radius: 20px;
    width: 22px;
    vertical-align: -12%;
  }
  .preview .owner-reel {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
  .preview .cat-dropdown {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .preview p {
    font-size: 16px;
  }
  .preview .image.upload {
    margin-top: 8px;
    width: 100%;
    max-height: 30%;
    overflow: hidden;
    max-height: 50%;
    position: relative;
  }
  .preview .image.upload .btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px;
    background: rgba(63, 63, 63, 0.7);
  }
  .preview .inputs textarea, .preview input {
    background: transparent;
    border: 0;
    font-size: 14px;
    color: #FFF;
  }
  .preview input {
    padding: 4px 8px;
    border-bottom: 1px solid #47DDB0;
    border-radius: 0;
  }
  .preview .inputs textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-left: 0px;
    height: 50px;
    background: #323232;
  }

  ::-webkit-input-placeholder {
    color: #49E2B4;
  }

  .preview .actions {
    color: #FFF;
    position: relative;
  }
    .preview .actions .bumps {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 18px;
    }
    .preview .actions .bump {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 18px;
    }

  .preview .caption {
    font-size: 14px;
    color: #FFF;
    margin-top: 30px;
    margin-left: 10px;
  }
  .preview .report {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
  }
  .preview .report small {
    font-size: 12px;
  }
  .preview .report i {
    font-size: 14px;
  }

.preview .footer-btn {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 60px;
  font-size: 18px;
}


.wizard {
  margin-top: 20px;
  padding: 10px 40px;
}
  .wizard .title {
    font-size: 18px;
    text-align: left;
  }
  .wizard .element {
    opacity: 0;
    height: 0;
    margin-top: 20px;
    margin-bottom: -20px;
    display: block;
  }
  .wizard .element.active {
    opacity: 1;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all .25s ease;
  }
  .wizard .error, .wizard .success {
    visibility: hidden;
    margin-left: 20px;
    color: #FF3434;
    font-size: 22px;
  }
  .wizard .success {
    color: #49E2B4;
  }
  .wizard .el-show {
    visibility: visible;
    margin-left: 0px;
    transition: all .25s ease;
  }
  .wizard-loading {
    text-align: center;
    margin-top: 20px;
  }
  .wizard .level * {
    display: inline-block;
    vertical-align: middle;
  }

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

.padded {
  margin: 2px 10px;
}

.gold {
  color: #DFC12B;
}
.silver {
  color: #A9A998;
}
.bronze {
  color: #7E6013;
}


.hide {
  display: none;
}

.disable-flow {
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}

.big {
  font-size: 2em;
}

.selected {
  color: #FFF;
}

.subdue {
  opacity: 0.5;
}

.btn {
  color: #49E2B4;
}
.btn.btn-md {
  font-size: 14px;
}
.btn.warn {
  color: #9E9962;
}
.btn.checked {
  color: #5E5E5E;
}
.btn.disabled {
  color: #999;
}
.btn.btn-block {
  margin: 2px 10px;
}
.btn.pushed {
  margin-left: 10px;
}

.tiny {
  font-size: 12px;
}

small {
  font-size: 14px;
}

p {
  -webkit-margin-before: 6px;
  -webkit-margin-after: 2px;
}


.filler {
  width: 100%;
  height: 1200px;
  background: #333;
}



.background, .preview-background {
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.preview-new-user {
  -webkit-transition:all ease-out 0.4s !important;
  transition:all ease-out 0.4s !important;
}

.preview-background {
  background-color: rgba(0,0,0,0.9);
}

