

html, body {
  background: #525C5B;
  padding: 0;
  margin: 0;
  font-size: 30px;
  height: 100%;
}

.login-container {
  text-align: center;
  padding-top: 200px;
}
.login {
  position: fixed;
  bottom: 20px;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.headliner {
  height: 22px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #525C5B;
  z-index: 1;
}

.logging {
  background: #555;
}

.alert {
  position: fixed;
  width: 100%;
  bottom: 120px;
  text-align: center;
  font-size: 15px;
  z-index: 50;
  padding: 15px 0;
  background: rgba(255,255,255,0.5);
}

.header, .footer {
  width: 100%;
  position: fixed;
  left: 0;
  text-align: center;
  z-index: 5;
}

.header {
  top: 0;
  padding-top: 22px;
}
.footer {
  background: rgba(48, 110, 110, 1);
}
.footer {
  bottom: 0;
  color: #FFF;
}
.footer .title {
  font-size: .5em;
  margin-top: 15px;
  display: inline-block;
}

.header a, .footer a {
  background: #5EABA2;
  padding: 8px 12px;
  width: 38px;
  height: 40px;
  color: rgba(255, 255, 255, 0.85);
  display: block;
}
.profile {
  border-top-left-radius: 20px;
}
.camera {
  border-top-right-radius: 20px;
}
.categories {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.notifications {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.main {
  margin-top: 88px;
  padding-bottom: 52px;
}
.page-heading {
  font-weight: normal;
  position: fixed;
  width: 100%;
  top: 7px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: .7em;
}

.thumbnail {
  display: inline-block;
  vertical-align: top;
  width: 33.3333%;
  text-align: center;
  overflow: hidden;
  margin: 0;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.preview {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 10;
  color: #FFF;
  text-transform: none;
}
  .preview .close {
    position: fixed;
    top: 12px;
    right: 0;
    font-size: 24px;
    padding: 10px 16px;
  }
  .preview .title {
    margin-top: 78px;
    font-size: 18px;
    text-align: center;
  }
  .preview .owner {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
  }
  .preview .owner img {
    border-radius: 20px;
    width: 22px;
    vertical-align: -12%;
  }
  .preview .owner-reel {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
  .preview .cat-dropdown {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
  }
  .preview .image.upload {
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
    max-height: 50%;
  }
  .preview .inputs * {
    width: calc(100% - 20px);
    padding: 5px;
    margin-left: 0px;
  }
  .preview .inputs textarea {
    background: transparent;
    border: 0;
    font-size: 14px;
    color: #FFF;
    height: 50px;
  }

  ::-webkit-input-placeholder {
    color: #49E2B4;
  }

  .preview .actions {
    color: #FFF;
    position: relative;
  }
    .preview .actions .bumps {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 18px;
    }
    .preview .actions .bump {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 18px;
    }

  .preview .caption {
    font-size: 14px;
    color: #FFF;
    margin-top: 30px;
    margin-left: 10px;
  }
  .preview .report {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
  }
  .preview .report small {
    font-size: 12px;
  }
  .preview .report i {
    font-size: 14px;
  }

.preview .footer-btn {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 15px;
  font-size: 16px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}


.subdue {
  opacity: 0.5;
}

.btn {
  color: #49E2B4;
}
.btn.warn {
  color: #9E9962;
}
.btn.checked {
  color: #5E5E5E;
}

small {
  font-size: 14px;
}

