html, body {
	height: 100%;
}

body {
	background: #333;
	margin: 0;
}

.ptr-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  text-align: center;
	width: 100%;
}
.ptr-repeat-wrapper {
  position: relative;
}

.ptr-wrapper .genericon {
	font-size: 34px;
	width: auto;
	height: auto;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 8px;
	margin-left: -0.5em;
	position: absolute;
	visibility: hidden;
	color: rgba(48, 110, 110, 1);
}
.ptr-wrapper.ptr-pull .genericon {
	visibility: visible;
}
.ptr-wrapper.ptr-refresh .genericon {
	transition: all .25s ease;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.ptr-wrapper.ptr-loading .genericon,
.ptr-wrapper.ptr-reset .genericon {
	display: none;
}

.ptr-wrapper .loading {
	text-align: center;
	opacity: .4;
	width: 100%;
	height: 0px;
	margin-top: 0px;
	visibility: hidden;
}
.ptr-wrapper.ptr-loading .loading {
	height: 44px;
	visibility: visible;
}
.ptr-wrapper.ptr-collapse .loading {
	height: 0;
	padding-top: 0;
	overflow: hidden;
	transition: all 0.4s ease;
}
.ptr-wrapper.ptr-reset .loading {
	height: 0px;
}

.ptr-content {
	text-align: left;
	padding-bottom: 1px;
  -webkit-transform: translateZ(2);
	z-index: 2;
}

.loading span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	border-radius: 50%;
	-webkit-animation: ptr-loading 0.4s infinite alternate;
	animation: ptr-loading 0.4s infinite alternate;
	background: rgba(48, 110, 110, 1);
}




.loading span.l1 {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.loading span.l2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loading span.l3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: rgba(48, 110, 110, 1);
		opacity: 1;
	}
}

@keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: rgba(48, 110, 110, 1);
		opacity: 1;
	}
}