html, body {
	height: 100%;
}

body {
	background: #333;
	margin: 0;
}

#ptr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	height: 78px;
}

#ptr .genericon {
	opacity: .6;
	font-size: 34px;
	width: auto;
	height: auto;
	transition: all .25s ease;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 38px;
	margin-left: -0.5em;
	position: absolute;
	visibility: hidden;
	color: rgba(48, 110, 110, 1);
	opacity: 0;
}
.ptr-pull #ptr .genericon {
	visibility: visible;
}
.ptr-refresh #ptr .genericon {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
	display: none;
}

#ptr .loading {
	text-align: center;
	opacity: .4;
	width: 100%;
	height: 0px;
	margin-top: 0px;
	visibility: hidden;
}
.ptr-loading .loading {
	height: 44px;
	visibility: visible;
}
.ptr-collapse .loading {
	height: 0;
	padding-top: 0;
	overflow: hidden;
	transition: all 0.4s ease;
}
.ptr-reset .loading {
	height: 0px;
}

.loading span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	border-radius: 50%;
	-webkit-animation: ptr-loading 0.4s infinite alternate;
	animation: ptr-loading 0.4s infinite alternate;
	background: rgba(48, 110, 110, 1);
}

#content {
	min-height: 100%;
}

/*.ptr-loading #content,
.ptr-loading #ptr {
	transition: margin-top .5s ease;
}*/


#l1 {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

#l2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#l3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: rgba(48, 110, 110, 1);
		opacity: 1;
	}
}

@keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: rgba(48, 110, 110, 1);
		opacity: 1;
	}
}